<form action="/messages/<%= message["id"] %>/patch" method="post">
  <input type="hidden" name="_method" value="patch"/>
  <ul>
    <li><label for="message">Message:</label></li>
    <li><input type="text" name="message" id="message" value="<%= message["message"] %>"/></li>
    <li><input type="submit" value="Update Message"/></li>

  </ul>
</form>

