<%= message["message"] %>



<% comments.each do |comment| %>
  <% if comment["message_id"] == message["id"] %>


    <li><%= comment["comment"] %></li>
  <% end %>

<% end %>



<a href="/">Back to Home</a>